<div class="ui container">
  <h1>სემინარის დავალება</h1>
  <ol>
    <li>შექმენით ფორმა რომლის კონტროლები და ვალიდატორებიც იქნება:</li>
    <ol>
      <li>პროექტის სახელი (არ უნდა იყოს ცარიელი)</li>
      <li>მეილი (არ უნდა იყოს ცარიელი და უნდა იყოს სწორი მეილის ფორმატი)</li>
      <li>პროექტის სტატუსი, select სამი მნიშვნელობით: სტაბილური, კრიტიკული, დასრულებული</li>
      <li>დასრულების ღილაკი</li>
    </ol>
    <li>დაამატეთ ვალიდატორს კლასი რომელიც დაა-extend-ებს Validators და გამოიყენეთ ამ კლასის ვალიდატორები.</li>
    <li>დაამატეთ ვალიდატორი რომელიც შეამოწმებს რომ პროექტის სახელში არ ჩაიწეროს Test (არც დიდი არც პატარა ასოებით).</li>
    <li>ასევე შექმენით(ან გადააკეთეთ წინა ასინქრონულად) ასინქრონული ვალიდატორი, რომელიც შეამოწმებს მეილი test@test.com-ს ხომ არ უდრის</li>
    <li>submit ღილაკზე დაჭერისას კონსოლში დალოგეთ ფორმის მნისვნელობა.</li>
  </ol>

  <form class="ui form" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="fields">
      <div class="nine wide field">
        <label for="projName">პროექტის დასახელება</label>
        <input type="text" formControlName="projectName" id="projName" >
        <ng-container *ngIf="get('projectName').touched && get('projectName').invalid">
          <p *ngFor="let err of errors('projectName')">{{err}}</p>
        </ng-container>
      </div>
    </div>
    <div class="fields">
      <div class="nine wide field">
        <label for="email">იმეილი</label>
        <input type="text" formControlName="email" id="email">
        <ng-container *ngIf="get('email').touched && get('email').invalid">
          <p *ngFor="let err of errors('email')">{{err}}</p>
        </ng-container>
      </div>
    </div>
    <div class="fields">
      <div class="nine wide field">
        <label for="status">პროექტის სტატუსი</label>
        <select formControlName="status" id="status">
          <option>სტაბილური</option>
          <option>კრიტიკული</option>
          <option>დასრულებული</option>
        </select>
      </div>
    </div>
    <button class="ui orange button" type="submit"> დასრულება</button>
  </form>
</div>
