<div class="ui container">
  <h1>სემინარის დავალება</h1>
  <ol>
    <li>შექმენით ფორმა რომლის კონტროლები და ვალიდატორებიც იქნება:</li>
    <ol>
      <li>პროექტის სახელი (არ უნდა იყოს ცარიელი)</li>
      <li>მეილი (არ უნდა იყოს ცარიელი და უნდა იყოს სწორი მეილის ფორმატი)</li>
      <li>პროექტის სტატუსი, select სამი მნიშვნელობით: სტაბილური, კრიტიკული, დასრულებული</li>
      <li>დასრულების ღილაკი</li>
    </ol>
    <li>დაამატეთ ვალიდატორს კლასი რომელიც დაა-extend-ებს Validators და გამოიყენეთ ამ კლასის ვალიდატორები.</li>
    <li>დაამატეთ ვალიდატორი რომელიც შეამოწმებს რომ პროექტის სახელში არ ჩაიწეროს Test (არც დიდი არც პატარა ასოებით).</li>
    <li>ასევე შექმენით(ან გადააკეთეთ წინა ასინქრონულად) ასინქრონული ვალიდატორი, რომელიც შეამოწმებს მეილი test@test.com-ს ხომ არ უდრის</li>
    <li>submit ღილაკზე დაჭერისას კონსოლში დალოგეთ ფორმის მნისვნელობა.</li>
  </ol>
  <!-- TODO: წაშალეთ ეს კომენტარი და ამის ადგილას ჩასვით თქვენი კომპონენტები -->
  <div class="ui container">
    <form class="ui form" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="fields">
        <div class="field">
          <label for="projectname">პროექტის სახელი</label>
          <input type="text" id="projectname" formControlName="projectName">
          <p *ngIf="projectForm.get('projectName').invalid && projectForm.get('projectName').touched">
            შეიყვანეთ პროექტის სახელი</p>
          <p *ngIf="projectForm.get('projectName').errors.nameIsForbidden">
            ამ სახელის გამოყენება აკრძალულია</p>

        </div>
      </div>

      <div class="fields">
        <div class="field">
          <label for="email">მეილი</label>
          <input type="text" id="email" formControlName="mail">
          <p *ngIf="projectForm.get('mail').invalid && projectForm.get('mail').touched">
            შეიყვანეთ სწორი მეილი</p>
        </div>
      </div>

      <div class="fields">
        <div class="field" *ngFor="let status of statuses">
          <div class="ui radio checkbox">
            <input type="radio" [value]="status" formControlName="status">
            <label>{{status}}</label>
          </div>
        </div>
      </div>
      <p *ngIf="projectForm.invalid">შეიყვანეთ სწორი მონაცემები</p>
      <button class="ui orange button" type="submit">შენახვა</button>
    </form>

  </div>
</div>
