<p>shell works!</p>
<input (input)="onInput($event)">
<p [ngStyle]="{backgroundColor: txtColor}" [ngClass]="{colorWhite: count>=7}">{{userName}}</p>
<input [(ngModel)]="userName2">
<p [ngStyle]="{backgroundColor: txtColor}" [ngClass]="{colorWhite: count>=7}">{{userName2}}</p>
<button [disabled]="userName===''" (click)="userName=''">button</button>
<hr>
<button (click)="onClickEvent()">გამოჩენა</button>
<p *ngIf="clickCheck" [ngStyle]="{backgroundColor: txtColor}" [ngClass]="{colorWhite: count>=7}">გამაქრე</p>
<p [ngStyle]="{backgroundColor: txtColor}" [ngClass]="{colorWhite: count>=7}">{{count}}</p>
